<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Cities Weather</title>
</head>
<body>
    <h1>Top Cities Weather</h1>
    <table>
        <thead>
            <tr>
                <th>City</th>
                <th>Weather</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="topCityDTO : ${topCitiesList}">
                <td th:text="${topCityDTO.getLocalizedName()}"></td>
                <td th:text="${topCityDTO.getWeatherText()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
